* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0f172a;
  color: white;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 30px;
}

.header {
  text-align: center;
  margin-bottom: 30px;
}

.header h1 {
  font-size: 3rem;
  color: #38bdf8;
}

.header p {
  color: #94a3b8;
}

form {
  background: #1e293b;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

input {
  flex: 1;
  min-width: 200px;
  padding: 12px;
  border: none;
  border-radius: 10px;
  outline: none;
}

button {
  border: none;
  padding: 12px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.add-btn {
  background: #22c55e;
  color: white;
}

.update-btn {
  background: #f59e0b;
  color: white;
}

.delete-btn {
  background: #ef4444;
  color: white;
}

.card {
  background: #1e293b;
  border-radius: 15px;
  padding: 20px;
  margin-top: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}

.card h3 {
  color: #38bdf8;
  margin-bottom: 10px;
}

.card p {
  margin: 6px 0;
}

.status-new {
  color: #facc15;
  font-weight: bold;
}

.status-contacted {
  color: #f97316;
  font-weight: bold;
}

.status-converted {
  color: #22c55e;
  font-weight: bold;
}

.action-buttons {
  margin-top: 15px;
  display: flex;
  gap: 10px;
}

.total {
  text-align: center;
  margin-bottom: 20px;
  color: #38bdf8;
}
.login-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #061538;
}

.login-box {
  background: #1c2a44;
  padding: 40px;
  border-radius: 15px;
  width: 350px;
  display: flex;
  flex-direction: column;
}

.login-box h1 {
  color: #38bdf8;
  text-align: center;
  margin-bottom: 25px;
}

.login-box form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-box input {
  padding: 12px;
  border-radius: 10px;
  border: none;
}

.login-box button {
  background: #22c55e;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.logout-btn {
  background: #ef4444;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  float: right;
}